.style {
  text-align: center;
}

.home-header {
  background-color: plum;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: green;
}

img-style {
  margin-left: auto;
  margin-right: auto;
}
